$primary-bg-color: #ffffff;
$accent-color: #f9f5e9;
$text-color: #4a4a4a;
$header-color: #4bd853;
$border-color: #ddd;
$text-color-loader: #1111E0;

.product-list-container {
    background-color: $primary-bg-color;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $primary-bg-color;
    border-radius: 12px 12px 0px 0px;

    thead {
        background-color: $header-color;
        border-radius: 12px 12px 0px 0px;

        tr {
            display: flex;

            th {
                padding: 1rem;
                font-weight: bold;
                color: $primary-bg-color;
                border-bottom: 1px solid $border-color;
                font-size: 1.1rem;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                width: 16%;
            }
        }
    }

    tbody {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        tr {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 1px solid $border-color;
            background-color: $primary-bg-color;
            border-radius: 8px;
            transition: all 0.3s ease;

            &:hover {
                background-color: $accent-color;
                transform: scale(1.02);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

            td {
                width: 16%;
                color: $text-color;
                font-size: 0.95rem;
                text-align: center;
            }
        }
    }
    
    .no-products {
        display: flex;
        justify-content: center;
    }
}

.loader {
    font-size: 1.2rem;
    color: $text-color-loader;
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
}